.nav:hover {
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
        );
    border-radius: 0.612rem;
    color: var(--gray);
}

.selected-option {
    width: 90%;
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
        );
    border-radius: 0.612rem;
    color: var(--gray);
}

