html {
    font-size: 16px;
}

:root {
    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --activeItem: #f799a354;
}

@font-face {
	font-family: 'Red Hat Display Light';
	font-style: normal;
	font-weight: normal;
	src: local('Red Hat Display'), url('/RedHatDisplay-Light.ttf') format('truetype');
}

body {
    margin: 0;
}

.parent-app {
    font-family: 'Red Hat Display Light', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--black);
    background: linear-gradient(
        106.37deg,
        #ffe1bc 29.63%,
        #ffcfd1 51.55%,
        #f3c6f1 90.85%
        );
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows:  auto 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
}
